<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="*/assets/fond5.jpg" class="card-img-top" alt="*/assets/fond5.jpg">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>