<div data-aos="fade-left" [hidden]="submitted" style="width: 100%;height: 710px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="utilisateur.nom" name="nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="utilisateur.prenom" name="prenom">
    </div>
    
    <div class="form-group">
      <label for="adresseMail">Adresse Mail</label>
      <input type="text" class="form-control" id="adresseMail" required [(ngModel)]="utilisateur.adresseMail"
        name="adresseMail">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <button class='btn btn-danger' routerLink="/mon-compte/"> mon compte</button>
</div>