.pointeur {
    cursor: pointer;
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    th.resp-disp {
        display: none;
    }
    td.resp-disp {
        display: none;
    }
    table {
        font-size: small;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    th.resp-disp {
        display: none;
    }
    td.resp-disp {
        display: none;
    }
    table {
        font-size: small;
    }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    th.resp-disp {
        display: none;
    }
    td.resp-disp {
        display: none;
    }
    table {
        font-size: medium;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    th.resp-disp {
        display: none;
    }
    td.resp-disp {
        display: none;
    }
    table {
        font-size: medium;
    }
}

/* Very extra large devices (large desktops, 1850px and up)*/

@media (min-width: 1850px) {
    th.resp-disp {
        display: table-cell;
    }
    td.resp-disp {
        display: table-cell;
    }
    table {
        font-size: medium;
    }
}

#trash{
    color: red;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }