<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top " >
    <div class="container" id="navbar">
        <div routerLink="/accueil">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/accueil">Catalogue</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/TheSavana">The Savana</a>
                </li>
               
                <li *ngIf="isAdmin&&isConnected" class="nav-item">
                    <a class="nav-link" routerLink="/gestion">Gestion Admin</a>
                </li>
                <li *ngIf="!isConnected" class="nav-item">
                    <a class="nav-link cursorPointer" routerLink="/login">Connection</a>
                </li>
                <li *ngIf="!isConnected" class="nav-item">
                    <a class="nav-link cursorPointer" routerLink="/signup">Inscription</a>
                </li>
                <li *ngIf="isConnected" class="nav-item">
                    <a class="nav-link cursorPointer" routerLink="/mon-compte">Mon compte</a>
                </li>
                <li *ngIf="isConnected" class="nav-item">
                    <a class="nav-link cursorPointer"  routerLink="/" (click)="logout()">Déconnexion</a>
                </li>
               
                
            </ul>
        </div>
    </div>
</nav>