.well {
  padding: 35px;
  padding-left: 30px;
  box-shadow: 0 0 10px #666666;
  margin: 4% auto 0;
  width: 450px;
  border-radius: 2%;
}




.color {
  color: black;
}

.form-control {
  border-color: black;
}

.form-control:focus {
  background-color: black;
  color: rgb(0, 162, 255)!important;
  -moz-box-shadow: 8px 8px 12px rgb(0, 162, 255);
  -webkit-box-shadow: 8px 8px 12px rgb(0, 162, 255);
  box-shadow: 2px 2px 4px rgb(0, 162, 255);
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

#id01 {
  height: 710px;
  width: 100%;
  background-color: black;
}
form{
  background-color: black;
}