<div class="container">
    <div class="container-fluid animate">
        <div class="row col" style="width: 100%;height: 710px;">
            <div class="row col-12" >
                <h2 style="color: white;">Mon Profil</h2>
            </div>
            <div class="row col-12">
                <div data-aos="fade-left" >
                    <app-gestion-mon-compte-detail></app-gestion-mon-compte-detail>
                    <hr>
                    <div data-aos="fade-up" class="col-12 m-0 p-0" id="vueDetail">

                        <button class='btn btn-primary' routerLink="/mon-compte/password"> modifier mot de
                            passe</button>
                        <button class='btn btn-primary' routerLink="/mon-compte/edit"> editer information</button>
                    </div>
                </div>
            </div>
        </div>
    </div>