<h2>Produit Details</h2>

<hr />
<div >
  <div>
    <label><b>First Name: </b></label> 
  </div>
  <div>
    <label><b>Description: </b></label> 
  </div>
  <div>
    <label><b>Prix: </b></label> 
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to produit List</button><br>