   /* Add a background color and some padding around the form */

   .jumbotron {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0px;
  }

  #id02{
    background-color: rgb(255, 255, 255); 
    padding-right: 0px; 
    padding-left: 0px;
    height: 100%;
} 


#title{
  text-align: center;
  font-family: Nova Cut;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(255, 196, 0) 0px 0px 20px, rgb(255, 196, 0) 0px 0px 30px, rgb(255, 196, 0) 0px 0px 40px, rgb(255, 196, 0) 0px 0px 50px, rgb(255, 196, 0) 0px 0px 75px, 2px 2px 2px rgba(206,161,25,0);
}
#modal{
  border-radius: 8px;
  border: thin;
  background-color: white;
  overflow-x: hidden!important;
  position: sticky; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 67%;
  top: 25%;
  width: 28%; /* Full width */
  height: 32%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(255, 196, 0);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}




.quant{
  text-align:center;
  background-color: transparent;
}