<div class="container-fluid animate" style="width: 100%;height: 710px;">
    <div class="row col-12 m-0 p-0 h-100 w-auto">
        <ul class="nav row col-12 shadow-lg m-0 p-0 justify-content-end w-100">
            <li class="nav-item">
               
            </li>
        </ul>
        <div class="col-2 h-100 m-0 p-0 shadow-lg w-auto">
            <app-dropdown-menu-admin-panel></app-dropdown-menu-admin-panel>
        </div>
        <div class="col-10 h-100 m-0 p-0">
            <div class="row col-12 m-5 p-0 w-auto">
                <div class="w-100 col-12 m-0 p-0">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id='reset' class="text-center w-100">
    Reservations journalière <button (click)='resetResa()' class="btn btn-danger">Remise a zero</button>
    <button routerLink="/gestion/utilisateurs" class="btn btn-danger">afficher les utilisateurs</button>
    <button routerLink="/gestion/utilisateur/create" class="btn btn-success">creer un
        utilisateur</button>
</div> -->