#id05{
    background-color: black;
    color: white;
}

@media (min-width: 0px) {
    table {
        font-size: small;
    }
}

/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 576px) {
    table {
        font-size: small;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    table {
        font-size: small;
    }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    table {
        font-size: medium;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    table {
        font-size: medium;
    }
}