<h3>Create Produit</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom Du Produit</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="produit.nom" name="nom">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="produit.description" name="description">
    </div>

    <div class="form-group">
      <label for="name">Nom Du Produit</label>
      <input type="text" class="form-control" id="prix" required [(ngModel)]="produit.prix" name="prix">
    </div>

    <div class="form-group">
      <label for="name">Nom Du Produit</label>
      <input type="text" class="form-control" id="qtt" required [(ngModel)]="produit.quantite" name="quantite">
    </div>

    <div class="form-group">
      <label for="name">cat Du Produit</label>
      <input type="text" class="form-control" id="catprix" required [(ngModel)]="categorie.prix" name="categorieprix">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newProduit()">Add</button> -->
</div>
