<div class="footer bg-dark">
    <div class="text-center">

        <ul style="float: left;">
           
            <li><a href="https://discord.gg/pu8qNfJxMw">Contact</a></li>
        </ul>


        <ul>
            <li>Copyright | Tous droits réservés</li>
            <li>Mentions légales</li>
        </ul>

    </div>
</div>