<div class=col-md-3>
  <button routerLink="/gestion" class="btn btn-success">retour au panel admin</button>
</div>
<form id='form' (ngSubmit)="onSubmitUtil()" style="border:1px solid #ccc">
  <div class="container">
    <h1>Création d'un utilisateur</h1>
    <hr>

    <label for="prenom"><b>Prénom</b></label>
    <input type="text" placeholder="Prénom" name="prenom" required [(ngModel)]="utilisateur.prenom">

    <label for="nom"><b>Nom</b></label>
    <input type="text" placeholder="Nom" name="nom" required [(ngModel)]="utilisateur.nom">

    <label for="date"><b>Date de naissance</b></label>
    <input type="date" name="date" required [(ngModel)]="utilisateur.dateAge">

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required [(ngModel)]="utilisateur.adresseMail">

    <label for="username"><b>Nom d'utilisateur</b></label>
    <input type="text" placeholder="Nom d'utilisateur" name="username" required [(ngModel)]="utilisateur.username">

    <label for="psw"><b>Mot de passe</b></label>
    <input type="password" placeholder="********" name="psw" required [(ngModel)]="utilisateur.password">

  
   

    <div class="clearfix">
      <button type="submit" class="signupbtn">Valider l'inscription</button>
    </div>
  </div>
</form>

