<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Produit List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Quantité</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produits | async">
          <td></td>
          <td></td>
          <td></td>
          <td><button (click)="deleteProduit(produit.id)" class="btn btn-danger">Delete</button>
            <button (click)="updateproduit(produit.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            <button (click)="produitdetails(produit.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>