<div class="container-fluid animate" style="width: 100%;height: 710px;">

    <fa-icon class="img-fluid rounded mx-auto d-block fa-3x text-primary" [icon]="faUserShield"></fa-icon>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/gestion/">
                <fa-icon class="img-fluid rounded mx-auto fa-1x text-primary" [icon]="faHome"></fa-icon>
                <h3> Panel
                    Admin</h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" routerLink="/gestion/utilisateurs">
                <fa-icon class="img-fluid rounded mx-auto fa-1x text-primary" [icon]="faUser"></fa-icon>
                <h3>Utilisateurs</h3>
            </a>
        </li>

    </ul>


</div>