<h2>Role Details</h2>

<hr />
<div *ngIf="role">
  <div>
    <label><b>Name: </b></label> {{role.nom}}
  </div>

  <br>
  <br>
  <button (click)="listrole()" class="btn btn-primary">Back to role List</button><br>